<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<link rel="stylesheet" href="{{ url_for('static', filename='styles/general.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/hearts.css') }}">

	<!-- JS Files -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script> <!-- Ensure the socket io library is installed -->
	<script src = "{{ url_for('static', filename = 'scripts/general.js')}}" defer></script>
	<script src = "{{ url_for('static', filename = 'scripts/hearts.js')}}" defer></script>
	<script>window.gameId = "{{ game_id }}";</script>
</head>
<body>
	<div id = "page">
		<div id="hand">
			<img src="{{ url_for('static', filename='Cards/Gma Hatt/2 of diamonds.svg') }}" alt="2 of clubs" class = 'card'>
			<img src="{{ url_for('static', filename='Cards/Gma Hatt/ace of clubs.svg') }}" alt="ace of clubs" class = 'card'>
			<img src="{{ url_for('static', filename='Cards/Gma Hatt/3 of diamonds.svg') }}" alt="3 of clubs" class = 'card'>
			<img src="{{ url_for('static', filename='Cards/Gma Hatt/4 of diamonds.svg') }}" alt="4 of clubs" class = 'card'>
			<img src="{{ url_for('static', filename='Cards/Gma Hatt/5 of spades.svg') }}" alt="5 of clubs" class = 'card'>
			<img src="{{ url_for('static', filename='Cards/Gma Hatt/6 of spades.svg') }}" alt="6 of clubs" class = 'card'>
			<img src="{{ url_for('static', filename='Cards/Gma Hatt/7 of spades.svg') }}" alt="7 of clubs" class = 'card'>
			<img src="{{ url_for('static', filename='Cards/Gma Hatt/jack of hearts.svg') }}" alt="jack of clubs" class = 'card'>
			<img src="{{ url_for('static', filename='Cards/Gma Hatt/8 of spades.svg') }}" alt="8 of clubs" class = 'card'>
			<img src="{{ url_for('static', filename='Cards/Gma Hatt/9 of spades.svg') }}" alt="9 of clubs" class = 'card'>
			<img src="{{ url_for('static', filename='Cards/Gma Hatt/10 of spades.svg') }}" alt="10 of clubs" class = 'card'>
			<img src="{{ url_for('static', filename='Cards/Gma Hatt/king of hearts.svg') }}" alt="king of clubs" class = 'card'>
			<img src="{{ url_for('static', filename='Cards/Gma Hatt/queen of hearts.svg') }}" alt="queen of clubs" class = 'card'>
		</div>
		<div id="play-area">
			<div class = 'player-card' style="z-index: 1;"><img src="{{ url_for('static', filename='Cards/Gma Hatt/10 of clubs.svg') }}" alt="10 of clubs" class = 'play-card'></div>
			<div class = 'player-card' style="z-index: 2;"><img src="{{ url_for('static', filename='Cards/Gma Hatt/jack of diamonds.svg') }}" alt="jack of diamonds" class = 'play-card'></div>
			<div class = 'player-card' style="z-index: 3;"><img src="{{ url_for('static', filename='Cards/Gma Hatt/queen of spades.svg') }}" alt="queen of spades" class = 'play-card'></div>
			<div class = 'player-card' style="z-index: 4;"><img src="{{ url_for('static', filename='Cards/Gma Hatt/king of hearts.svg') }}" alt="king of hearts" class = 'play-card'></div>
			<div class = 'player-card' style="z-index: 5;"><img src="{{ url_for('static', filename='Cards/Gma Hatt/king of hearts.svg') }}" alt="king of hearts" class = 'play-card'></div>
			<div class = 'player-card' style="z-index: 6;"><img src="{{ url_for('static', filename='Cards/Gma Hatt/king of hearts.svg') }}" alt="king of hearts" class = 'play-card'></div>
		</div>
		<div id = "player-profiles">
			<div class = 'player'><div class = 'bottom-row name'>Matthew</div><div class = 'top-row'><img src = "https://www.svgrepo.com/show/316857/profile-simple.svg"><div>0</div></div></div>
			<div class = 'player'><div class = 'top-row'><img src = "https://www.svgrepo.com/show/316857/profile-simple.svg"><div>24</div></div><div class = 'bottom-row name'>Heidi</div></div>
			<div class = 'player'><div class = 'top-row'><img src = "https://www.svgrepo.com/show/316857/profile-simple.svg"><div>0</div></div><div class = 'bottom-row name'>Brooklyn</div></div>
			<div class = 'player'><div class = 'bottom-row name'>Charlotte</div><div class = 'top-row'><img src = "https://www.svgrepo.com/show/316857/profile-simple.svg"><div>0</div></div></div>
			<div class = 'player'><div class = 'bottom-row name'>Alan</div><div class = 'top-row'><img src = "https://www.svgrepo.com/show/316857/profile-simple.svg"><div>0</div></div></div>
			<div class = 'player'><div class = 'bottom-row name'>David</div><div class = 'top-row'><img src = "https://www.svgrepo.com/show/316857/profile-simple.svg"><div>0</div></div></div>
		</div>
	</div>
		<!-- <div id="pass-modal">
			<button class="pass-button">Pass</button>
			
			<div class="pass-slots">
			  <div class="card-slot"></div>
			  <div class="card-slot"></div>
			  <div class="card-slot"></div>
			</div>
			
			<div class="pass-instructions">
			  Select the 3 cards to pass to the Left
			</div>
		</div> -->
</body>
</html>