<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Lobby</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/general.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/lobby.css') }}">

    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>
    <script src = "https://cdn.socket.io/4.0.0/socket.io.min.js" defer></script>
	<script src = "{{ url_for('static', filename = 'scripts/general.js')}}" defer></script>
	<script src = "{{ url_for('static', filename = 'scripts/lobby.js')}}" defer></script>
</head>
<body>
    <div class="main">
        <div class="active-games" id="activeGames">Select a game to see available matches.</div>
        <div id="buttons" style="display: none;">
            <button id = "createButton" onclick="createGameTemplate()">Create</button>
            <button onclick="viewRules()">Rules</button>
        </div>

        <div id="passwordModal" style="display: none; position: fixed; top: 40%; left: 50%; transform: translate(-50%, -50%); background: white; padding: 1em; border: 1px solid #ccc;">
            <label>Enter Password:
              <input type="password" id="passwordInput" />
            </label>
            <button id="submitPassword">Submit</button>
            <button id="cancelPassword">Cancel</button>
          </div>
    </div>
</body>
</html>