<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Lobby</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/lobby.css') }}">

    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>
    <script src = "https://cdn.socket.io/4.0.0/socket.io.min.js" defer></script>
	<script src = "{{ url_for('static', filename = 'scripts/general.js')}}" defer></script>
	<script src = "{{ url_for('static', filename = 'scripts/lobby.js')}}" defer></script>
</head>
<body>
    <div class="sidebar">
        <ul class="games-list" id="gamesList">
        </ul>
        <button onclick="logout()">log out</button>
    </div>
    
    <div class="main">
        <div class="active-games" id="activeGames">Select a game to see available matches.</div>
        <div class="buttons">
            <button onclick="createGame()">Create</button>
            <button onclick="viewRules()">Rules</button>
            <button onclick="viewRules()">dummy</button>
        </div>
    </div>
</body>
</html>