<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/profile.css') }}">

    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>
    <script src = "https://cdn.socket.io/4.0.0/socket.io.min.js" defer></script>
	<script src = "{{ url_for('static', filename = 'scripts/general.js')}}" defer></script>
	<script src = "{{ url_for('static', filename = 'scripts/profile.js')}}" defer></script>
    {% block profileScripts %} {% endblock %}    

</head>
<body>
    <div id="sidebar">
        <ul class="games-list" id="gamesList">
            <li>Friends</li>
            <li>Settings</li>
        </ul>
        <button onclick="logout()">log out</button>
    </div>

    <div id="main">
        
        
        <div class="active-games" id="header-bar">Settings</div>
        
        <div id="profile-content">
            {% block selectionContent %} {% endblock %}
 

        </div>

        <div class="buttons">
            <button onclick="createGame()">Create</button>
            <button onclick="viewRules()">Rules</button>
        </div>
    </div>
</body>
</html>