/* Root font size for scaling */
html {
    font-size: 16px; /* Default browser font size */
}

h1 {
    margin: 1rem;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    margin: 0;
}

.container {
    background: white;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    max-width: calc(80vw - 2rem);
    max-height: calc(80vh - 2rem);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Tab Buttons */
.tabs {
    display: flex;
    width: 100%;
}

.tabs button {
    flex: 1;
    padding: 0.5rem;
    background: #ddd;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.tabs button.active {
    background: #28a745;
    color: white;
    font-weight: bold;
}

.inputs {
    display: flex;
    flex-wrap: wrap;
}

/* Form Styles */
input {
    padding: 0.5rem;
    max-height: 10vh;
    width: calc(100% - 2rem);
    margin: 0.5rem 0;
    border: 0.1rem solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
}

@media (max-height: 500px) {
    input {
        flex: 1 1;
    }
}

button {
    background-color: #28a745;
    color: white;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
}

button:hover {
    background-color: #218838;
}